<html>
    <head>
      <title>
        Reddit Financial
      </title>
      <style>
        #grad1{
          height: 100%;
          background-image: linear-gradient(180deg, rgb(232, 230, 235), rgb(5, 7, 168));
        }
        #grad2{
          height: 50%;
          background-image: linear-gradient(0deg, rgb(134, 0, 0), rgb(255, 173, 173));
        }
      </style>
    </head>
    <body>
      <div align="center">
        <h1>Reddit Financial</h1>
          {% block content %}
          {% endblock %}
      </div>
    </body>
</html>