<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style> 
    #grad1{
        height: 100%;
        background-image: linear-gradient(180deg, rgb(232, 230, 235), rgb(5, 7, 168));
    }
    </style>
  </head>
  <body>
  <div id="grad1" align="center">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <h1>     </h1>
    {{ form.search_box.label}} {{ form.search_box()}}
    {{ form.search() }}
  <section class="section">
    <div class="container">
      <div class="box" style="width:1350px" align="center">
        <a href={{ data[0].url }}><img id="myimage" src="">
        <div class="is-clipped">
          <div id="mytitle" class="has-text-weight-bold"></div>
          <div id="mydescription" class="mt-2"></div>
          <div id="myurl" class="mt-2 is-size-7"></div>
        </div></a>
      </div>
      <div class="box" style="width:1350px" align="center">
        <a href={{ data[1].url }}><img id="myimage1" src="">
        <div class="is-clipped">
          <div id="mytitle1" class="has-text-weight-bold"></div>
          <div id="mydescription1" class="mt-2"></div>
          <div id="myurl1" class="mt-2 is-size-7"></div>
        </div></a>
      </div>
      <div class="box" style="width:1350px" align="center">
        <a href={{ data[2].url }}><img id="myimage2" src="">
        <div class="is-clipped">
          <div id="mytitle2" class="has-text-weight-bold"></div>
          <div id="mydescription2" class="mt-2"></div>
          <div id="myurl2" class="mt-2 is-size-7"></div>
        </div></a>
      </div>
    </div>
  </div>
    <script type="text/javascript">
        var data = [
            `{% for item in data %}   
                {{ item|safe }} 
            {% endfor %}`
        ]
        console.log(data)
        var url = '{{ data[0].url }}'
        var data = {key: '22cc141e4de4deb78e11f2cd7121c973', q: url}

        fetch('https://api.linkpreview.net', {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify(data),
        })
        .then(res => res.json())
        .then(response => {
        document.getElementById("mytitle").innerHTML = response.title
        document.getElementById("mydescription").innerHTML = response.description
        document.getElementById("myimage").src = response.image
        document.getElementById("myurl").innerHTML = response.url
        })
    </script>
    <script type="text/javascript">
        var url = '{{ data[1].url }}'
        var data = {key: '22cc141e4de4deb78e11f2cd7121c973', q: url}

        fetch('https://api.linkpreview.net', {
            method: 'POST',
            mode: 'cors',
            body: JSON.stringify(data),
        })
            .then(res => res.json())
            .then(response => {
        document.getElementById("mytitle1").innerHTML = response.title
        document.getElementById("mydescription1").innerHTML = response.description
        document.getElementById("myimage1").src = response.image
        document.getElementById("myurl1").innerHTML = response.url
        })
        </script>
    <script type="text/javascript">
        var url = '{{ data[2].url }}'
        var data = {key: '22cc141e4de4deb78e11f2cd7121c973', q: url}

        fetch('https://api.linkpreview.net', {
            method: 'POST',
            mode: 'cors',
            body: JSON.stringify(data),
        })
            .then(res => res.json())
            .then(response => {
        document.getElementById("mytitle1").innerHTML = response.title
        document.getElementById("mydescription1").innerHTML = response.description
        document.getElementById("myimage1").src = response.image
        document.getElementById("myurl1").innerHTML = response.url
        })
        </script>
  </body>
  </body>
</html>